@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b1b1a;
  font-family: "Lora", serif;
}

.title {
  background-image: url("/400w.webp");
  background-size: fill;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  padding: 20px;
}

.image-cover {
  background-image: url("/canape-movie.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.engrenage1 {
  animation: rotate 2s linear infinite;
}

.engrenage2 {
  animation: rotate 4s linear infinite reverse;
}

.engrenage3 {
  animation: rotate 6s linear infinite;
}

 .animate-pulse {
    animation: pulse 2s infinite;
  }

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

 @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }